@charset "utf-8";
/* index.css */
@import url('./common.css');

.visual{
    width:100%; overflow:hidden;
}
.visual .slide{
    width:100%;
    display:flex;
    animation: slide 10s infinite;
}
@keyframes slide {
    0%,10%{ transform: translateX(0%);}
    30%,40%{ transform: translateX(-100%);}
    60%,70%{ transform: translateX(-200%);}
}
.visual .slide > figure{
    flex-shrink: 0;
    position:relative;
}
.visual .slide > figure > img{width:100%}
.visual .slide > figure > figcaption{
    position:absolute;
    left:50%; top:50%;
    color:#fff; 
    font-size:5rem;
    text-align: center;
    transform: translate(-50%,-50%);
}
.visual .slide > figure > figcaption > a{
    display:block;
    color:#fff;
    font-weight: bold;
    border:1px solid rgba(255,255,255,0.4);
    padding:15px 0;
}

.visual .scroll{
    position:absolute;
    left:50%; bottom:6%;
    transform: translate(-50%,0);
    animation: scroll 1s infinite linear alternate;
}
@keyframes scroll {
    100%{transform: translate(-50%, 50%);}
}

.visual .indi{
    position:absolute;
    left:calc(50% - 640px); top:50%;
    transform: translate(-50%,-50%) rotate(90deg);
}
.visual .indi > span{
    color:#fff; 
    font-size:3rem; 
    font-weight: bold;
    vertical-align: middle;
}

.visual .indi > span::before{
    content: '';
    width:60px; border-bottom:1px solid #fff;
    display: inline-block;
    vertical-align: middle;
    margin-right:20px;
}
.visual .indi > a{
    width:10px; height:10px;
    background-color:rgba(255,255,255,0.5);
    border-radius: 100%;
    display: inline-block;
    vertical-align: middle;
    margin:0 0 0 20px;
}
.visual .indi > a.active{
    background-color:rgba(255,255,255,1);
    transform: scale(1.2);
}


/* service */
.service{width:1280px; margin:120px auto;}
.service ul{}
.service ul > li{
    display:flex; 
    justify-content: space-between;
    align-items: center;
}
.service ul > li > figure{width:50%;}
.service ul > li > figure > img{width:100%;}

.service ul > li > article{width:40%;}
.service ul > li > article > h3{position:relative;}
.service ul > li > article > h3 > span{
    font-size:2rem;
    background-color: #fff;
    padding-right:10px;
    color:#000;
}
.service ul > li > article > h3::after{
    border-bottom:3px solid #000;
    width:100%;
    position:absolute;
    left:0; top:50%;
    content:'';
    z-index:-1;
}

.service ul > li > article > p{
    margin:30px 0;
}
.service ul > li > article > a{}
.service ul > li > article > a::after{
    content:'add';
    color:#000;
    font-size:1rem;
    font-family: 'Material Symbols Outlined';
    vertical-align: middle;
}

.service ul > li:nth-child(even) > figure{order:2}
.service ul > li:nth-child(even) > article{order:1}